{% extends "base.html" %}

{% block preview %}Your spoo.me account has been permanently deleted{% endblock %}

{% block content %}<table align="center" width="100%" border="0" cellpadding="0" cellspacing="0" role="presentation"
                        style="margin-bottom:32px">
                        <tbody>
                            <tr>
                                <td>
                                    <h1
                                        style="color:rgb(227,235,242);font-size:24px;font-weight:700;text-align:center;margin-bottom:16px !important;margin:0px">
                                        Account Deleted</h1>
                                    <p
                                        style="color:rgb(227,235,242);font-size:16px;line-height:24px;margin-bottom:0px;margin:0px;margin-top:0px;margin-left:0px;margin-right:0px">
                                        Hello,</p>
                                    <p
                                        style="color:rgb(227,235,242);font-size:16px;line-height:24px;margin-bottom:0px;margin:0px;margin-top:0px;margin-left:0px;margin-right:0px">
                                        Your spoo.me account has been permanently deleted, as requested. Your account
                                        details, your short links, and all of their analytics data have been erased
                                        from our systems.</p>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <table align="center" width="100%" border="0" cellpadding="0" cellspacing="0" role="presentation"
                        style="margin-bottom:32px">
                        <tbody>
                            <tr>
                                <td>
                                    <p
                                        style="color:rgb(227,235,242);font-size:16px;line-height:24px;margin-bottom:16px;margin:0px;margin-top:0px;margin-left:0px;margin-right:0px">
                                        Copies in our automated backups age out on their own within 15 days. There is
                                        nothing more you need to do.</p>
                                    <p
                                        style="color:rgb(227,235,242);font-size:16px;line-height:24px;margin-bottom:16px;margin:0px;margin-top:16px;margin-left:0px;margin-right:0px">
                                        Thank you for using spoo.me. We're sorry to see you go, and you're welcome back
                                        any time.</p>
                                    <p
                                        style="color:rgb(227,235,242);font-size:16px;line-height:24px;margin-bottom:0px;margin:0px;margin-top:16px;margin-left:0px;margin-right:0px">
                                        Support Team, spoo.me</p>
                                </td>
                            </tr>
                        </tbody>
                    </table>{% endblock %}
