{% extends "base.html" %}

{% block preview %}Your spoo.me account is scheduled for deletion on {{ purge_date }}{% endblock %}

{% block content %}<table align="center" width="100%" border="0" cellpadding="0" cellspacing="0" role="presentation"
                        style="margin-bottom:32px">
                        <tbody>
                            <tr>
                                <td>
                                    <h1
                                        style="color:rgb(227,235,242);font-size:24px;font-weight:700;text-align:center;margin-bottom:16px !important;margin:0px">
                                        Account Scheduled for Deletion</h1>
                                    <p
                                        style="color:rgb(227,235,242);font-size:16px;line-height:24px;margin-bottom:0px;margin:0px;margin-top:0px;margin-left:0px;margin-right:0px">
                                        Hello,</p>
                                    <p
                                        style="color:rgb(227,235,242);font-size:16px;line-height:24px;margin-bottom:0px;margin:0px;margin-top:0px;margin-left:0px;margin-right:0px">
                                        We received a request to permanently delete your spoo.me account. The deletion
                                        is scheduled for:</p>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <table align="center" width="100%" border="0" cellpadding="0" cellspacing="0" role="presentation"
                        style="text-align:center;margin-bottom:32px">
                        <tbody>
                            <tr>
                                <td>
                                    <div
                                        style="background-color:rgb(124,58,237);border-radius:8px;padding-left:32px;padding-right:32px;padding-top:24px;padding-bottom:24px;display:inline-block">
                                        <p
                                            style="color:rgb(255,255,255);font-size:20px;font-weight:700;margin:0px;line-height:24px;margin-top:0px;margin-bottom:0px;margin-left:0px;margin-right:0px">
                                            {{ purge_date }}</p>
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <table align="center" width="100%" border="0" cellpadding="0" cellspacing="0" role="presentation"
                        style="margin-bottom:32px">
                        <tbody>
                            <tr>
                                <td>
                                    <p
                                        style="color:rgb(227,235,242);font-size:16px;line-height:24px;margin-bottom:16px;margin:0px;margin-top:0px;margin-left:0px;margin-right:0px">
                                        Once that date passes, your account, your short links, and all of their
                                        analytics data will be permanently erased. This cannot be undone.</p>
                                    <p
                                        style="color:rgb(227,235,242);font-size:16px;line-height:24px;margin-bottom:16px;margin:0px;margin-top:16px;margin-left:0px;margin-right:0px">
                                        Changed your mind? Signing in normally is blocked while the deletion is
                                        pending, but you can cancel it any time before the date above: log back in via
                                        the restore option on the login page.</p>
                                    <p
                                        style="color:rgb(227,235,242);font-size:16px;line-height:24px;margin-bottom:16px;margin:0px;margin-top:16px;margin-left:0px;margin-right:0px">
                                        If you didn't request this, email <a href="mailto:support@spoo.me"
                                            style="color:rgb(124,58,237);text-decoration-line:none"
                                            target="_blank">support@spoo.me</a> immediately.</p>
                                    <p
                                        style="color:rgb(227,235,242);font-size:16px;line-height:24px;margin-bottom:0px;margin:0px;margin-top:16px;margin-left:0px;margin-right:0px">
                                        Support Team, spoo.me</p>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <table align="center" width="100%" border="0" cellpadding="0" cellspacing="0" role="presentation"
                        style="text-align:center;margin-bottom:32px">
                        <tbody>
                            <tr>
                                <td>
                                    <a href="{{ app_url }}/login"
                                        style="background-color:rgb(124,58,237);color:rgb(255,255,255);font-size:16px;font-weight:600;padding-top:12px;padding-bottom:12px;padding-left:24px;padding-right:24px;border-radius:8px;text-decoration-line:none;box-sizing:border-box;line-height:100%;text-decoration:none;display:inline-block;max-width:100%;mso-padding-alt:0px"
                                        target="_blank"><span><!--[if mso]><i style="mso-font-width:400%;mso-text-raise:18" hidden>&#8202;&#8202;&#8202;</i><![endif]--></span><span
                                            style="max-width:100%;display:inline-block;line-height:120%;mso-padding-alt:0px;mso-text-raise:9px">Restore
                                            my
                                            account</span><span><!--[if mso]><i style="mso-font-width:400%" hidden>&#8202;&#8202;&#8202;&#8203;</i><![endif]--></span></a>
                                </td>
                            </tr>
                        </tbody>
                    </table>{% endblock %}
