{% extends "base.html" %}

{% block preview %}The scheduled deletion of your spoo.me account was cancelled{% endblock %}

{% block content %}<table align="center" width="100%" border="0" cellpadding="0" cellspacing="0" role="presentation"
                        style="margin-bottom:32px">
                        <tbody>
                            <tr>
                                <td>
                                    <h1
                                        style="color:rgb(227,235,242);font-size:24px;font-weight:700;text-align:center;margin-bottom:16px !important;margin:0px">
                                        Account Deletion Cancelled</h1>
                                    <p
                                        style="color:rgb(227,235,242);font-size:16px;line-height:24px;margin-bottom:0px;margin:0px;margin-top:0px;margin-left:0px;margin-right:0px">
                                        Hello,</p>
                                    <p
                                        style="color:rgb(227,235,242);font-size:16px;line-height:24px;margin-bottom:0px;margin:0px;margin-top:0px;margin-left:0px;margin-right:0px">
                                        The scheduled deletion of your spoo.me account has been cancelled. Your
                                        account is active again and nothing was deleted.</p>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <table align="center" width="100%" border="0" cellpadding="0" cellspacing="0" role="presentation"
                        style="margin-bottom:32px">
                        <tbody>
                            <tr>
                                <td>
                                    <p
                                        style="color:rgb(227,235,242);font-size:16px;line-height:24px;margin-bottom:16px;margin:0px;margin-top:0px;margin-left:0px;margin-right:0px">
                                        If you did not cancel this deletion yourself, someone else may have access
                                        to your account or inbox. Change your password and email <a
                                            href="mailto:support@spoo.me"
                                            style="color:rgb(124,58,237);text-decoration-line:none"
                                            target="_blank">support@spoo.me</a> immediately.</p>
                                    <p
                                        style="color:rgb(227,235,242);font-size:16px;line-height:24px;margin-bottom:0px;margin:0px;margin-top:16px;margin-left:0px;margin-right:0px">
                                        Support Team, spoo.me</p>
                                </td>
                            </tr>
                        </tbody>
                    </table>{% endblock %}
